@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* For WebKit-based browsers (Chrome, Safari) */
/* Change the color of the scrollbar track */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
}

/* Change the color and appearance of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #F5A018; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

/* Hover styles for the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #181818;
}


body {
  color: #181819;
  line-height: 32px !important;
  font-size: 16px;
  overflow-x: hidden !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.containerCustom{
  padding: 0 2rem;
    margin: 3rem 3rem 6rem;
}
.wrapper{
  padding-left: 0.875rem/* 14px */;
  padding-right: 0.875rem/* 14px */;
  padding-top: 1rem/* 16px */;
    padding-bottom: 1rem/* 16px */;
}
.border-btn{
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  width: 165px;
  color: #ffffff;
  font-size: 16px;
 background: transparent;
 border: 1px solid #F5A018;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.border-btn:hover {
  border: none;
  background: #F5A018;
  color: #ffffff;
}
.border-alt-btn{
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  width: 165px;
  color: #181818;
  font-size: 16px;
 background: transparent;
 border: 1px solid #F5A018;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.border-alt-btn:hover {
  border: none;
  background: #F5A018;
  color: #ffffff;
}
.border-btn2{
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  width: 165px;
  color: #181818;
  font-size: 16px;
 background: transparent;
 border: 1px solid #F5A018;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.border-btn2:hover {
  border: none;
  background: #F5A018;
  color: #ffffff;
}
.quote-btn{
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  padding: 6px 12px !important;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  color: #ffffff;
  font-size: 16px;
 background-color: #F5A018;
  padding: 0px 10px;
  text-decoration: none;
}

.quote-btn:hover {
  background-color: #181818;
 
}

.small-btn{
min-width: 20px !important;
}
.medium-btn{
width: 40px;
}
.large-btn{
width: 65px;
}

.slide-content-wrapper {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.slide-content-wrapper div {
  flex-basis: 40%;
}
.slide-content-wrapper div img {
  width: 100%;
  min-height: 300px;
  display: block;
}
.slide-content-wrapper div.slide-content-from-left {
  transform: translateX(-50%);
}
.slide-content-wrapper div.slide-content-from-right {
  transform: translateX(50%);
}
.slide-content-wrapper div.slide-content-from-left, .slide-content-wrapper div.slide-content-from-right {
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0;
}
.slide-content-wrapper div.slide-content-from-left.appear, .slide-content-wrapper div.slide-content-from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

.slide-in{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background: #0f0f0f;
transform-origin: bottom;
z-index: 999999999;
}

.slide-out{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background: #0f0f0f;
z-index: 999999999;
transform-origin: top;
}